/ full slider parallax section
%section#full_slider.full_slider_inner.padding_0
  #pallax_slider.only_parallax.stars_dottat
    .vertical-center.center
      .row
        .col-md-12.col-xs-12.wow.fadeInDown{"data-wow-delay" => "0.5s", "data-wow-duration" => "2s"}
          .slider_contant.right_side.text_align_center
            %h2
              Let's Start Growing Your Business
              %br Through Better Marketing Today
              .button_section
                .center
                  %a.btn.white_btn{:href => "#"} GET STARTED NOW
  / end full slider parallax section
  %section.contant_section.padding_layout_1.padding-bottom_0.quality_ser_bg.circle_service_layout_main{:style => "background:url(#{image_url('bg_patter_4.png')})"}
    .container.wow.fadeIn{"data-wow-duration" => "2s"}
      .row
        .col-md-2.col-sm-12.col-xs-12
        .col-md-8.col-sm-12.col-xs-12
          .main_heading.text_align_center
            %p.large WE ARE FLAT.SEO AND
            %h2 WE PROVIDE HIGH QUALITY SERVICES
            %p
              Repellat ut assumenda eveniet totam lorem ipsum dolor sit amet, consectetur adipisicing elit. quo accusamus,
              natus impedit ea quaerat vel voluptatibus veritatis ipsum quae, officiis. Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Ipsa maxime quisquam veritatis iusto reprehenderit saepe hic odit consectetu!
    .row
      .col-md-1.col-sm-12.col-xs-12
      .col-md-10.col-sm-12.col-xs-12
        .provide_qty.circle_service_layout
          .service_types.left_bottom.wow.fadeInLeft{"data-wow-delay" => "0s", "data-wow-duration" => "2s"}
            .center
              .boder_dottat_small
                = image_tag 'clock_icon.png'
            %p.semi_bold.black_color REAL-TIME ANALYTICS
          .service_types.left_top.wow.fadeInLeft{"data-wow-delay" => "0s", "data-wow-duration" => "2s"}
            .center
              .boder_dottat_small
                = image_tag 'cant_sub.png'
            %p.semi_bold.black_color CONTENT SUBMISSION
          .service_types.center_ser.wow.fadeInDown{"data-wow-delay" => "0s", "data-wow-duration" => "2s"}
            .center
              .boder_dottat_small
                = image_tag 'rocket_icon.png'
            %p.semi_bold.black_color SEO OPTIMIZATION
          .service_types.right_top.wow.fadeInRight{"data-wow-delay" => "0s", "data-wow-duration" => "2s"}
            .center
              .boder_dottat_small
                = image_tag 'key_icon.png'
            %p.semi_bold.black_color REPUTATION MANAGEMENT
          .service_types.right_bottom.wow.fadeInRight{"data-wow-delay" => "0s", "data-wow-duration" => "2s"}
            .center
              .boder_dottat_small
                = image_tag 'tricon_icon.png'
            %p.semi_bold.black_color BOOST YOUR CONVERSION
    .row
      .col-md-12.col-sm-12.col-xs-12
        .mobile_half.wow.fadeInUp{"data-wow-duration" => "0.5s"}
          .center
            = image_tag 'half_mobile.png'
/ end section
/ section
%section.padding_layout_1.light_silver_2
  .row.wow.fadeIn{"data-wow-duration" => "2s"}
    .container
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.margin_bottom_20
        .full
          .center
            = image_tag 'team_member_5.png'
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .full
          %h2 GROW YOUR BUSINESS WITH US
          %p
            Repellat ut assumenda eveniet totam lorem ipsum dolor sit amet, consectetur adipisicing elit.
            quo accusamus, natus impedit ea quaerat vel voluptatibus veritatis ipsum quae, officiis. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Ipsa maxime quisquam veritatis iusto reprehenderit saepe hic odit consectetu!
        .full
          .progress_bar
            / Skill Bars
            %span.skill{:style => "width:96%;"}
              General Consulting
              %span.info_valume 96%
            .progress.skill-bar
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "96", :role => "progressbar", :style => "width: 96%;"}
            %span.skill{:style => "width:75%;"}
              Contruction Management
              %span.info_valume 75%
            .progress.skill-bar
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar", :style => "width: 75%;"}
            %span.skill{:style => "width:88%;"}
              Design  Build
              %span.info_valume 88%
            .progress.skill-bar
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "88", :role => "progressbar", :style => "width: 88%;"}
            %span.skill{:style => "width:60%;"}
              Special Project
              %span.info_valume 60%
            .progress.skill-bar
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
/ end section
/ section
%section.contant_section.theme_color_bg.white_fonts
  .row.wow.fadeIn{"data-wow-duration" => "2s"}
    .col-md-4.col-sm-12.col-xs-12
      .row
        .full.text_align_center
          .qulity_ser.padding_75.margin_bottom_0{:style => "background:transparent;"}
            .center= image_tag 'quality_ser1.png'
            %h4 YEARS OF EXPERTISE
            %p.opacity_half_color
              Perspiciatis eos quos totam cum
              %br
                minima aut! Et voluptatem cupiditate
                %br
                  cum veniam dicta assumenda fuga
                  %br modi error aperiam.
    .col-md-4.col-sm-12.col-xs-12
      .row
        .full.text_align_center
          .qulity_ser.padding_75.margin_bottom_0
            .center= image_tag 'quality_ser2.png'
            %h4 CONTENT SUBMISSION
            %p.opacity_half_color
              Perspiciatis eos quos totam cum
              %br
                minima aut! Et voluptatem cupiditate
                %br
                  cum veniam dicta assumenda fuga
                  %br modi error aperiam.
    .col-md-4.col-sm-12.col-xs-12
      .row
        .full.text_align_center
          .qulity_ser.padding_75.margin_bottom_0{:style => "background:rgba(0,0,0,0.2);"}
            .center= image_tag 'quality_ser3.png'
            %h4 REAL-TIME ANALYTICS
            %p.opacity_half_color
              Perspiciatis eos quos totam cum
              %br
                minima aut! Et voluptatem cupiditate
                %br
                  cum veniam dicta assumenda fuga
                  %br modi error aperiam.
                  / end section
                  / section
%section.contant_section.padding_layout_1
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .tab_bar
          .tab_head.tags.col-lg-12.col-md-12.col-sm-12.col-xs-12
            %ul
              %li
                %a.filter-button{"data-filter" => "all"} All
              %li
                %a.filter-button{"data-filter" => "marketing"} Marketing
              %li
                %a.filter-button{"data-filter" => "seo"} SEO
              %li
                %a.filter-button{"data-filter" => "projects"} Projects
              %li
                %a.filter-button{"data-filter" => "social"} Social
              %li
                %a.filter-button{"data-filter" => "ranking"} Ranking
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.filter.marketing
            .case_studies_box
              = image_tag 'case_studiesimg_1.png', class: 'img-responsive'
              .description_case_studies.theme_color_bg.white_fonts
                %h4 GLOBAL ADVERTISING
                %p Dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.filter.seo
            .case_studies_box
              = image_tag 'case_studiesimg_2.png', class: 'img-responsive'
              .description_case_studies.theme_color_bg.white_fonts
                %h4 GLOBAL ADVERTISING
                %p Dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.filter.projects
            .case_studies_box
              = image_tag 'case_studiesimg_3.png', class: 'img-responsive'
              .description_case_studies.theme_color_bg.white_fonts
                %h4 GLOBAL ADVERTISING
                %p Dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.filter.social
            .case_studies_box
              = image_tag 'case_studiesimg_4.png', class: 'img-responsive'
              .description_case_studies.theme_color_bg.white_fonts
                %h4 GLOBAL ADVERTISING
                %p Dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.filter.ranking
            .case_studies_box
              = image_tag 'case_studiesimg_5.png', class: 'img-responsive'
              .description_case_studies.theme_color_bg.white_fonts
                %h4 GLOBAL ADVERTISING
                %p Dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.filter.marketing
            .case_studies_box
              = image_tag 'case_studiesimg_2.png', class: 'img-responsive'
              .description_case_studies.theme_color_bg.white_fonts
                %h4 GLOBAL ADVERTISING
                %p Dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
%section.contant_section.theme_color_bg.white_fonts
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-md-5.col-sm-12.col-xs-12.padding_layout_1.padding-bottom_0
        .full.margin_bottom_30.text_align_left
          %h2 FOR ALL YOUR SEO AND ONLINE MARKETING NEEDS
          %p.opacity_70_color We are on a mission to build, grow and maintain loyal communities at every touchpoint. This means you can accomplish your business goals hrough digital marketing
          %ul.list_style_1
            %li
              %i.fa.fa-check{"aria-hidden" => "true"}
              Burning Desire Golden Key Or Red Herring
            %li
              %i.fa.fa-check{"aria-hidden" => "true"}
              How I Lost The Secret Of Dazzling Success For 20 Years
            %li
              %i.fa.fa-check{"aria-hidden" => "true"}
              Burning Desire Golden Key Or Red Herring
            %li
              %i.fa.fa-check{"aria-hidden" => "true"}
              Hypnotherapy For Motivation Getting The Drive Back
          %a.btn.border_btn_white_border{:href => "#"} READ MORE
      .col-md-7.col-sm-12.col-xs-12.pull-left.responsive_padding_bottom
        .full.sm_center
          = image_tag 'earth_wh_bg_2.png', class: 'img-responsive'

%section.contant_section.padding_layout_1.service_style_2.light_silver_2
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-md-12.col-sm-12.col-xs-12
        .full.text_align_center
          .main_heading.text_align_center
            %p.large WE ARE PREMIUM AND
            %h2 WE PROVIDE HIGH QUALITY SERVICES
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .row
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center
                  = image_tag 'quality_ser1.png'
                %h4 YEARS OF EXPERTISE
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center= image_tag 'quality_ser2.png'
                %h4 CONTENT SUBMISSION
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center= image_tag 'quality_ser3.png'
                %h4 REAL-TIME ANALYTICS
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center= image_tag 'quality_ser4.png'
                %h4 REPUTATION MANAGEMENT
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center= image_tag 'quality_ser5.png'
                %h4 BOOST YOUR CONVERSION
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center= image_tag 'quality_ser6.png'
                %h4 USE BASED SEO COMPANY
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .center
              %ul
                %li
                  %a.btn.border_btn{:href => "#"} SEE ALL FEATURES
                %li
                  %a.btn.border_btn{:href => "#"} GET START NOW !
                                                      

%section.contant_section.padding_layout_1
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-lg-7.col-md-7.col-sm-7.col-xs-12.pull-left
        .full.margin_bottom_30
          / testimonial slider
          #carousel-example-generic.carousel.slide.testimonial_slider{"data-ride" => "carousel"}
            %ol.carousel-indicators
              %li{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
              %li.active{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
            .carousel-inner
              .item
                .testimonial_inner.text_align_center
                  .center
                    = image_tag 'testimonial_client_img.png'
                  .heading_testi
                    %h4 Christian Perez
                    %p Designer
                  .testmonial_cont
                    %p
                      Typesetting industry lorem Ipsum is simply dummy text of the printing and. Lorem Ipsum has been
                      the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book.when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              .item
                .testimonial_inner.text_align_center
                  .center
                    = image_tag 'testimonial_client_img.png'
                  .heading_testi
                    %h4 Christian Perez
                    %p Designer
                  .testmonial_cont
                    %p
                      Typesetting industry lorem Ipsum is simply dummy text of the printing and. Lorem Ipsum has been
                      the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book.when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              .item.active
                .testimonial_inner.text_align_center
                  .center
                    = image_tag 'testimonial_client_img.png'
                  .heading_testi
                    %h4 Christian Perez
                    %p Designer
                  .testmonial_cont
                    %p
                      Typesetting industry lorem Ipsum is simply dummy text of the printing and. Lorem Ipsum has been
                      the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book.when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            / Left and right controls
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
              %i.fa.fa-angle-left
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
              %i.fa.fa-angle-right
          / end testimonial slider
      .col-md-5.col-sm-5.col-xs-12
        .full
          .testimonial_qoute.pull-right
            .text_align_left.testmonial_qoute
              %i.fa.fa-quote-left{"aria-hidden" => "true"}
            .main_heading.text_align_left
              %p.large THEY SAY WE DID GREAT JOB!
              %h2 OUR CUSTOMERS FEEDBACK
            .text_align_right.testmonial_qoute
              %i.fa.fa-quote-right{"aria-hidden" => "true"}
/ end section
/ bottom information
.light_silver.bottom_silver_section.bottom_imformation
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-md-4.col-sm-4.col-xs-12
        .full.text_align_left.margin_bottom_30
          .information_bottom.left-side
            .icon_bottom
              %i.fa.fa-road{"aria-hidden" => "true"}
            .info_cont
              %h4 427 Schoen Circles Suite 124
              %p Melbourne Australia
      .col-md-4.col-sm-4.col-xs-12
        .full.text_align_left.margin_bottom_30
          .center
            .information_bottom
              .icon_bottom
                %i.fa.fa-user{"aria-hidden" => "true"}
              .info_cont
                %h4 0011 234 56789
                %p Mon-Fri 8:30am-6:30pm
      .col-md-4.col-sm-4.col-xs-12
        .full.text_align_left.margin_bottom_30
          .information_bottom.right-side
            .icon_bottom
              %i.fa.fa-envelope{"aria-hidden" => "true"}
            .info_cont
              %h4 flat.seoinfo@gmail.com
              %p 24/7 online %support
%footer
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-md-12.col-sm-12.col-xs-12
        .center
          .footer_logo= image_tag 'logo_bottom.png'
    .row
      .col-md-5.col-sm-4.col-xs-12.margin_bottom_30
        .full.white_fonts
          %h4 ABOUT US
          %p
            We attract your potential buyers from search and turn them intoyour customers. Qolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibham liber tempor cum soluta nobis eleifend option.
            sed diam nonummy nibham liber tempor cum soluta nobis eleifend option.
          .social_icon
            %ul
              %li.fb
                %a{:href => "#"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
              %li.twi
                %a{:href => "#"}
                  %i.fa.fa-twitter{"aria-hidden" => "true"}
              %li.gp
                %a{:href => "#"}
                  %i.fa.fa-google-plus{"aria-hidden" => "true"}
              %li.in
                %a{:href => "#"}
                  %i.fa.fa-linkedin{"aria-hidden" => "true"}
              %li.pint
                %a{:href => "#"}
                  %i.fa.fa-pinterest{"aria-hidden" => "true"}
      .col-md-7.col-sm-8.col-xs-12.pull-right
        .full.white_fonts
          .footer_menu
            %h4 USEFULL LINKS
            %ul.footer_menu_ul.margin_bottom_30
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  SEO Services
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Social Media
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Web Anlytics
            %ul.footer_menu_ul.margin_bottom_30
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Web Development
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Content Management
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Blog Management
            %ul.footer_menu_ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Virtual Marketing
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Email Marketing
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Keyword Analytics
                                                      
.bottom_footer.white_fonts
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-md-6.col-sm-12.col-xs-12
        .bottom_menu
          %ul
            %li
              %a{:href => "#"} Terms  Conditions
            %li
              %a{:href => "#"} API Use Policy
            %li
              %a{:href => "#"} Privacy Policy
            %li
              %a{:href => "#"} Cookies
      .col-md-6.col-sm-12.col-xs-12
        .cpy.text_align_right
          %p Copyright &#xA9; 2017 SEO Solution. All Rights Reserved.
/ end bottom footer
/ model search bar
/ Modal
#search_bar.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %i.fa.fa-close
      .modal-body
        .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2.col-xs-10.col-xs-offset-1
          .navbar-search
            %form#search-global-form.search-global{:action => "#", :method => "get"}
              %input#search.search-global__input{:autocomplete => "off", :name => "s", :placeholder => "Type to search", :type => "text", :value => ""}
                %button.search-global__btn
                  %i.fa.fa-search
                .search-global__note Begin typing your search above and press return to search.
