= render './layouts/shared/header'
%section#full_slider.full_slider_inner.padding_0
  #pallax_slider.only_parallax.stars_dottat
    .center.vertical-center
      .row
        .col-md-12.col-md-12.wow.bg-login.pb-4.fadeInDown{"data-wow-delay" => "0.5s", "data-wow-duration" => "2s"}
          %h1.text-center.login-title Forgot your password
          %hr/
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .form-group
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
            .actions
              = f.submit "Send me reset password instructions", class: "btn btn-block btn-lg btn-design-login"
